body{
direction: rtl;background-color: rgb(228, 221, 221);
}
html{scroll-behavior: smooth;}
#scroll{position: fixed;
bottom: 20px;
right: 50px;
background-color: white;
height: 30px;
width: 40px;
border-radius: 30%;
}
#scroll img{width: 35px;padding: 2px;
}
#scroll:target{display: block;
}
header{background-color: green; background-size: 20px;}
header nav ul li a{color:white;
font-size:larger;
}
header nav{display: inline-flex;}
header nav ul li{display: inline;margin-left:250px;
}
.openNav{background-color: rgb(196, 196, 10);
border-color: rgb(8, 65, 6);
width: 40px;
height: 40px;
font-size: 30px;transform: translate(-5px,5px)
}
h1{font-size: 30px;
color: rgb(33, 57, 33);
word-spacing: 10px;width: 600px;
text-align: center;
transform: translateX(-300px);
}
main section h1 span{color: rgb(211, 42, 42);
text-shadow: 12, 104, 12;
}
section img:nth-child(2){
border-radius: 40PX;
display: block;
transform:translateX(-200px)
}
#p1{text-align: center;
white-space:pre-wrap;font-size: larger;
}
main section ul li{display: inline-flex;
margin-left: 50px;
transform: translateX(-50px);
}
.link{display: flex;
gap: 10px;
width:400px;
text-decoration: none;
border:1px solid #ddd;
padding: 10px;
background-color: #fff;
border-radius: 40px;
box-shadow: 0 5px rgb(107, 102, 102);
}
.link:hover{transform: translateY(-5px);
box-shadow: 0 5px 15px rgb(107, 102, 102);
color: #06c;}
.link h3{margin: 0;
margin-bottom: 10px;
font-size: 20px;
color: green;
}
.link p{font-size: 15px;
margin: 0px;
}
.link img{width: 60px;
height: auto;
border-radius: 30px;
margin-bottom: 10px;
}
.li2{width: 220px;
}
.li2 img{width: 250px;
}
.li2 h3{color: black;font-size: larger;
text-shadow: 2px 2px 12px rgb(78, 77, 77);
text-align: center;
}
.li2 p{color: black;font-size: large;text-align: center;
}
footer{background-color: green;
}
footer ul img{width: 15px;
}
footer ul li{display: inline-flex;margin-left: 10px;
transform: translate(40px);
}
footer img:nth-child(1){transform: translateX(-600px);
}
